body {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
}

.header {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.scrollable-listeprovince {
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
}

.footer {
    text-align: center;
}

.special {
    background-color: blueviolet;
}

table {
    border: 1px solid;
    border-color: black;
}

th {
    border: 1px solid;
    text-align: center;
}

td {
    border: 1px solid;
}

select {
    margin-bottom: 2px;
}